<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Surdo</title>
    <link rel="stylesheet" href="../../style_general.css">
    <link rel="stylesheet" href="./main_menu.css">
</head>
<body>

    <h1 class="main_tittle">Menu Principal</h1>
    <div class="main_menu">
        <a href="../wait_room/wait_room.html"> <button>Party</button> </a>
        <a href=""> <button>Minigame</button> </a>
        <a href=""> <button>Configuración</button> </a>
        <a href="../index/index.html"> <button>Salida</button> </a>
    </div>

</body>
<script src="../../script_general.js"></script>
<script src="main_menu.js"></script>
</html>