:root {
    --primary-color: #965dd6;
    --primary-color-lighter: #c490ff;
    --secundary-color: #fa4f96;
    --terciary-color: #fbff00;
    --cuarternary-color: #fc7b09;
    --font-color: azure;
}

html {
    min-height: 100%;
}

html * {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    transition: all 0.5s;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background: repeating-conic-gradient(var(--terciary-color) 0 10deg, var(--cuarternary-color) 10deg 20deg);
}


body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 2;
    pointer-events: none; 
    
    background-size: 20px 20px;
    
    background-image: 
        /* Puntos Naranjas */
        radial-gradient(#fc7a094b 20%, transparent 20%),
        radial-gradient(#fc7a094b 20%, transparent 20%),

        /* Puntos Amarillos */
        radial-gradient(#fbff004b 20%, transparent 20%),
        radial-gradient(#fbff004b 20%, transparent 20%);
        
    background-position: 
        0 0, 10px 10px, 
        10px 0, 0 10px; 
}

body * {
    z-index: 3;
    position: relative; 
    color: var(--font-color)
}