@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

:root {
    --primary-color: #965dd6;
    --primary-color-lighter: #c490ff;
    --secundary-color: #ff5b9f;
    --terciary-color: #fbff00;
    --cuarternary-color: #fc7b09;
    --font-color: azure;
}

html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-family: "Oregano", cursive;
    transition: all 0.5s;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background: repeating-conic-gradient(var(--terciary-color) 0 10deg, var(--primary-color) 10deg 20deg);
}


body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(circle, #00000080, #00000015);
    z-index: 1;
    pointer-events: none;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 2;
    pointer-events: none; 
    
    background-size: 20px 20px;
    
    background-image: 
        /* Puntos Primarios */
        radial-gradient(#fa4f964b 20%, transparent 20%),
        radial-gradient(#fa4f964b 20%, transparent 20%),

        /* Puntos Secundarios */
        radial-gradient(#fc7b094b 20%, transparent 20%),
        radial-gradient(#fc7b094b 20%, transparent 20%);
        
    background-position: 
        0 0, 10px 10px, 
        10px 0, 0 10px; 
}

body * {
    z-index: 3;
    position: relative; 
    color: var(--font-color)
}

.title-color-primary {
    color: var(--secundary-color);
    -webkit-text-stroke: var(--primary-color) 0.05rem;
}

.title-color-secundary {
    color: var(--terciary-color);
    -webkit-text-stroke: var(--cuarternary-color) 0.05rem;
}