<configuration>

    <logger name="io.netty" level="WARN"/>
    <logger name="io.netty.incubator.codec.quic" level="WARN"/>
    <logger name="com.quictunnel" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

</configuration>