<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Surdo</title>
    <link rel="stylesheet" href="../../style_general.css">
    <link rel="stylesheet" href="./wait_room.css">
</head>
<body>

    <h1
    id="codigoSala"
    class="main_tittle">
    Código de la Sala:
    <br>
    --------
    </h1>

    <div class="group">
        <h2 class="subtittle">Participantes</h2>
        <div class="participants"></div>
    </div>
    
    <div class="botones">

        <a href="../loanding/loanding.html" onclick="llamarJava('iniciarMinijuego,MainGame')"><button>Iniciar</button></a>
        
        <a href="../main_menu/main_menu.html"><button>Volver</button></a>

    </div>

</body>
<script src="../../script_general.js"></script>
<script src="wait_room.js"></script>
</html>