<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Surdo</title>
    <link rel="stylesheet" href="../../style_general.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    
    <!--<img id="logo" src="../../resources/img/app-surdo.png" alt="App-Surdo Logo">-->
    <h2 id="logo">
        <span class="title-color-primary">App</span>
        <br>
        <span class="title-color-secundary">Surdo</span>
    </h2>
    
    <div class="botones">

        <button>Iniciar</button>
        <button>Volver</button>

    </div>

</body>
<script src="index.js"></script>
</html>