<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Surdo</title>
    <link rel="stylesheet" href="../../style_general.css">
    <link rel="stylesheet" href="./minagame_room.css">
</head>
<body>

    <h1 class="main_tittle">Minijuego</h1>
    <div class="group">
        <h2 class="subtittle" style="font-size: 3rem;">Puntuaciones</h2>
        <div class="participants">
            <span>Mihaku: 30pts</span>
            <span>Zofehes: 20pts</span>
            <span>Megamin: 10pts</span>
        </div>
    </div>
    <a style="margin-bottom: 2rem;"><button id="btnIniciar">Empezar</button></a>
    <a style="margin-bottom: 2rem;"><button id="btnSiguiente" style="display: none;">Siguiente</button></a>
    
</body>
<script src="../../script_general.js"></script>
<script src="./minagame_room.js"></script>
</html>